<bread-crumb></bread-crumb>
<div class="wrapper">
    <div class="container">
        <div class="nav-left">
            <h1 class="title">TRANG TÀI KHOẢN</h1>
            <div class="full-name">Xin chào, Hồ Hiếu !</div>
            <ul>
                <li (click)="goToInfo()" [ngClass]="{'active' : urlString == 'account'}">Thông tin tài khoản</li>
                <li (click)="goToOrders()" [ngClass]="{'active' : urlString == 'orders'}">Đơn hàng của bạn</li>
                <li (click)="goToChangePassword()" [ngClass]="{'active' : urlString == 'change-password'}">Đổi mật khẩu</li>
                <li (click)="goToAddresses()" [ngClass]="{'active' : urlString == 'addresses'}">Số địa chỉ (0)</li>
                <li>Đăng xuất</li>
            </ul>
        </div>
        <div class="nav-right">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>