<bread-crumb></bread-crumb>
<div class="wrapper">
    <div class="container">
        <div class="nav-left">
            <h1 class="title">TRANG TÀI KHOẢN</h1>
            <div class="full-name">Xin chào, Hồ Hiếu !</div>
            <ul>
                <li>Thông tin tài khoản</li>
                <li>Đơn hàng của bạn</li>
                <li>Đổi mật khẩu</li>
                <li>Số địa chỉ (0)</li>
                <li>Đăng xuất</li>
            </ul>
        </div>
        <div class="nav-right">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>