<div class="wrapper">
    <div class="title">Best seller</div>
    <div class="header-product flex py-[11px]">
        <div class="w-[70%] text-[16px]">Sản phẩm</div>
        <div class="w-[15%] text-[16px] text-center">total price sold</div>
        <div class="w-[15%] text-[16px] text-center">number sold</div>
    </div>
    <!-- ------------------- -->
    <div class="container-bs">
        <div class="best-seller" *ngFor="let item of listBestSeller">
            <div class="info-product">
                <div class="image">
                    <img src="{{item.product.imageProduct[0].image}}" alt="">
                </div>
                <div class="name-variant">
                    <div>
                        <div class="name">{{item.product.name}}</div>
                        <div class="variant">{{item.product.variant}}</div>
                    </div>
                </div>
            </div>
            <div class="price-product">{{helperNumber.formatPrice(item.totalPriceSold)}}</div>
            <div class="quantity-product">{{helperNumber.formatNumber(item.numberSold)}}</div>
        </div>
    </div>
</div>
