<div class="wrapper">
    <div class="title">All product</div>
    <!-- ------------------- -->
    <div class="container-bs">
        <div class="product" *ngFor="let item of listAllProduct">
            <div class="info-product">
                <div class="image">
                    <img src="{{item.imageProduct[0].image}}" alt>
                </div>
                <div class="name-variant">
                    <div>
                        <div class="name">{{item.name}}</div>
                        <div class="variant">{{item.variant}}</div>
                    </div>
                </div>
            </div>
            <div
            class="price-product"><span>Stock: </span>{{helperNumber.formatNumber(item.quantity)}}</div>
            <div
                class="quantity-product"><span>Price: </span>{{helperNumber.formatPrice(item.price)}}</div>
        </div>
    </div>
</div>