<div class="wrapper">
    <h1 class="title">Dashboard</h1>
    <div class="weekly-report">
        <div class="report bg-slate-600">

        </div>
        <div class="report bg-blue-300">

        </div>
        <div class="report bg-red-400">

        </div>
    </div>
    <div class="chart">
        <div class="order-year bg-orange-300">
            <pie-chart type="column"></pie-chart>
        </div>
        <div class="order-month bg-green-400">
            <pie-chart type="pie"></pie-chart>
        </div>
    </div>
</div>
