.wrapper {
    padding: 40px 20px 0;
    .title {
        font-size: 25px;
        font-weight: 500;
        color: var(--primary-pink);
        padding: 0 0 10px 0;
    }
    .weekly-report {
        display: flex;
        justify-content: space-between;
        .report {
            width: 30%;
            height: 200px;
            border-radius: 5px;
            color: #fff;
            padding: 20px 0 0 20px;
            .title-report {
                font-size: 19px;
                font-weight: 500;
                margin: 0 0 20px 0;
            }
            .number {
                font-size: 30px;
                font-weight: 700    ;
            }
        }
    }
    .chart {
        display: flex;
        justify-content: space-between;
        padding: 40px 0 0 0;
        .order-year {
            width: 60%;
            height: 350px;  
            border-radius: 5px;
        }
        .order-month {
            width: 38%;
            border-radius: 5px;
        }
    }
}