<div class="wrapper">
    <h1 class="title">Dashboard</h1>
    <div class="weekly-report">
        <div class="report bg-slate-600">

        </div>
        <div class="report bg-blue-300">

        </div>
        <div class="report bg-red-400">

        </div>
    </div>
    <div class="chart">
        <div class="order-year" *ngIf="inYearDataPoints.length > 0">
            <column-chart title="Traffic order in year" [dataPoint]="inYearDataPoints"></column-chart>
        </div>
        <div class="order-month" *ngIf="inMonthDataPoints.length > 0">
            <pie-chart title="Traffic order" subTitle="in month" [dataPoints]="inMonthDataPoints"></pie-chart>
        </div>
    </div>
</div>
