.wrapper {
    padding: 0 10px;
    h1 {
        font-size: 19px;
        margin: 10px 0 27px 0;
    }
    .full-name {
        font-size: 14px;
        margin: 0 0 15px 0;
    }
    .email {
        font-size: 14px;
    }
}