<div class="wrapper">
    <h1>ĐƠN HÀNG CỦA BẠN</h1>
    <table>
        <thead class="header">
            <tr>
                <td class="id">Đơn hàng</td>
                <td class="day">Ngày</td>
                <td class="address">Địa chỉ</td>
                <td class="total-price">Giá trị đơn hàng</td>
                <td class="payment-method">Thanh toán</td>
            </tr>
        </thead>
        <tbody class="list-orders">
            <tr class="order" *ngFor="let order of listOrder">
                <td class="id" (click)="goToOrderDetail(order.id)">{{order.id}}</td>
                <td>{{helperDate.formatDateYearMonthDay(order.timeCreate)}}</td>
                <td>{{order.address}}</td>
                <td>{{helperNumber.formatPrice(order.totalPrice)}}</td>
                <td>{{order.paymentMethod.name}}</td>
            </tr>
            <tr *ngIf="listOrder.length == 0" class="no-order">
                <td colspan="5">Không có đơn hàng nào.</td>
            </tr>
        </tbody>
    </table>
</div>
