<div class="footer">
    <div class="first-footer">
        <div class="container">
            <div>
                <h4>
                    LIÊN HỆ
                </h4>
                <span>
                    Hà Nội
                </span>
                <span>
                    meeko.vn@ gmail.com
                </span>
                <span>
                    0862204080
                </span>
            </div>
            <div>
                <h4>
                    CHÍNH SÁCH
                </h4>
                <span>
                    Chính sách bảo mật
                </span>
                <span>Chính sách vận chuyển</span>
                <span>Chính sách đổi trả</span>
                <span>Quy định sử dụng</span>
            </div>
            <div>
                <h4>
                    about
                </h4>
                <span>
                    1% Happier Everyday
                </span>
            </div>
            <div>
                <h4>
                    PHƯƠNG THỨC THANH TOÁN
                </h4>
                <img src="https://bizweb.dktcdn.net/100/450/808/themes/855625/assets/payment.png?1681832246171" alt="">
            </div>
        </div>
    </div>
    <div class="copyright">
        Copyright Meeko (HoHieu)
    </div>
</div>
