<bread-crumb></bread-crumb>
<div class="wrapper">
    <div class="container">
        <div class="product">
            <div class="image-product">
                <img class="slide-image"
                src="https://bizweb.dktcdn.net/thumb/1024x1024/100/450/808/products/ec4812fc-8691-4d9c-996e-36633e00c6ae.jpg?v=1688347655770"
                alt>
                <img class="slide-image"
                src="https://bizweb.dktcdn.net/100/450/808/products/4bda3617-e713-4f6b-ac41-8a743e307c91.jpg?v=1688347769767"
                alt>
                <img class="slide-image"
                src="https://bizweb.dktcdn.net/100/450/808/products/a766dc07-a5ac-44a3-a050-98cdc0402ad3.jpg?v=1688347769767"
                alt>
                <div class="gallery-pro">
                    <div  class="move-one">
                        <fa-icon class="icon" [icon]="faChevronLeft"></fa-icon>
                    </div>
                    <div class="slide-image">
                        <div class="small-image" (click)="showDiv(1)">
                            <img class="image"
                            src="https://bizweb.dktcdn.net/thumb/1024x1024/100/450/808/products/ec4812fc-8691-4d9c-996e-36633e00c6ae.jpg?v=1688347655770"
                            alt>
                        </div>
                        <div class="small-image" (click)="showDiv(2)">
                            <img class="image"
                            src="https://bizweb.dktcdn.net/100/450/808/products/4bda3617-e713-4f6b-ac41-8a743e307c91.jpg?v=1688347769767"
                            alt>
                        </div>
                        <div class="small-image" (click)="showDiv(3)">
                            <img class="image"
                            src="https://bizweb.dktcdn.net/100/450/808/products/a766dc07-a5ac-44a3-a050-98cdc0402ad3.jpg?v=1688347769767"
                            alt>
                        </div>
                    </div>
                    <div class="move-one">
                        <fa-icon class="icon" [icon]="faChevronRight"></fa-icon>
                    </div>
                </div>
            </div>
            <div class="info-product"></div>
        </div>
        <div class="description"></div>
    </div>
</div>
<div class="wrapper">
    <div class="other-product">
        <div class="title"></div>
        <div class="slide-product"></div>
    </div>
</div>