<div *ngIf="isHidden" id="container-cart">
    <div class="space" (click)="hiddenCart()">
    </div>
    <div class="cart">
        <div class="header-cart">
            <h4 class="title-cart">
                Giỏ hàng
            </h4>
            <div class="close-cart" (click)="hiddenCart()">
                <svg class="Icon Icon--close" viewBox="0 0 16 14">
                    <path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path>
                </svg>
            </div>
        </div>
        <div class="body-cart">
            <div class="product">
                <img class="image-product" src="https://bizweb.dktcdn.net/thumb/compact/100/450/808/products/aa73afd0-498d-4212-a7da-e108a05a96eb.jpg" alt="">
                <div class="content-product">
                    <div class="name">
                        <span class="name-product">Gấu trúc bông xù cao cấp Fufu</span>
                    </div>
                    <div class="quantity-price">
                        <div class="number-product">
                            <div class="number-title">Số lượng</div>
                            <div class="input-quantity">
                                <button class="decrease-number">-</button>
                                <input type="number">
                                <button class="increase-number">+</button>
                            </div>
                        </div>
                        <div class="price-product">
                            <div class="price">123₫</div>
                            <button class="remove-item">Xóa</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <img class="image-product" src="https://bizweb.dktcdn.net/thumb/compact/100/450/808/products/aa73afd0-498d-4212-a7da-e108a05a96eb.jpg" alt="">
                <div class="content-product">
                    <div class="name">
                        <span class="name-product">Gấu trúc bông xù cao cấp Fufu</span>
                    </div>
                    <div class="quantity-price">
                        <div class="number-product">
                            <div class="number-title">Số lượng</div>
                            <div class="input-quantity">
                                <button class="decrease-number">-</button>
                                <input type="number">
                                <button class="increase-number">+</button>
                            </div>
                        </div>
                        <div class="price-product">
                            <div class="price">123₫</div>
                            <button class="remove-item">Xóa</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <img class="image-product" src="https://bizweb.dktcdn.net/thumb/compact/100/450/808/products/aa73afd0-498d-4212-a7da-e108a05a96eb.jpg" alt="">
                <div class="content-product">
                    <div class="name">
                        <span class="name-product">Gấu trúc bông xù cao cấp Fufu</span>
                    </div>
                    <div class="quantity-price">
                        <div class="number-product">
                            <div class="number-title">Số lượng</div>
                            <div class="input-quantity">
                                <button class="decrease-number">-</button>
                                <input type="number">
                                <button class="increase-number">+</button>
                            </div>
                        </div>
                        <div class="price-product">
                            <div class="price">123₫</div>
                            <button class="remove-item">Xóa</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <img class="image-product" src="https://bizweb.dktcdn.net/thumb/compact/100/450/808/products/aa73afd0-498d-4212-a7da-e108a05a96eb.jpg" alt="">
                <div class="content-product">
                    <div class="name">
                        <span class="name-product">Gấu trúc bông xù cao cấp Fufu</span>
                    </div>
                    <div class="quantity-price">
                        <div class="number-product">
                            <div class="number-title">Số lượng</div>
                            <div class="input-quantity">
                                <button class="decrease-number">-</button>
                                <input type="number">
                                <button class="increase-number">+</button>
                            </div>
                        </div>
                        <div class="price-product">
                            <div class="price">123₫</div>
                            <button class="remove-item">Xóa</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <img class="image-product" src="https://bizweb.dktcdn.net/thumb/compact/100/450/808/products/aa73afd0-498d-4212-a7da-e108a05a96eb.jpg" alt="">
                <div class="content-product">
                    <div class="name">
                        <span class="name-product">Gấu trúc bông xù cao cấp Fufu</span>
                    </div>
                    <div class="quantity-price">
                        <div class="number-product">
                            <div class="number-title">Số lượng</div>
                            <div class="input-quantity">
                                <button class="decrease-number">-</button>
                                <input type="number">
                                <button class="increase-number">+</button>
                            </div>
                        </div>
                        <div class="price-product">
                            <div class="price">123₫</div>
                            <button class="remove-item">Xóa</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-cart">
            <div class="total-price">
                <div class="title">Tổng tiền:</div>
                <div class="price">1.670.000₫</div>
            </div>
            <button class="payment">
                Thanh toán
            </button>
        </div>
    </div>
</div>