<div class="wrapper">
    <h1>{{urlArr[urlArr.length - 1]}}</h1>
    <div class="container">
        <div class="header-product flex">
            <div class="w-[55%] text-[14px]">Sản phẩm</div>
            <div class="w-[11.25%] text-[14px] text-center">Đơn giá</div>
            <div class="w-[11.25%] text-[14px] text-center">Số lượng</div>
            <div class="w-[11.25%] text-[14px] text-center">Giảm giá</div>
            <div class="w-[11.25%] text-[14px] text-center">Thành tiền</div>
        </div>
        <div class="product" *ngFor="let od of listOrderDetail">
            <div class="info-product">
                <div class="image">
                    <img src="{{od.product.imageProduct[0].image}}" alt="">
                </div>
                <div class="name-variant">
                    <div>
                        <div class="name">{{od.product.name}}</div>
                        <div class="variant">{{od.product.variant}}</div>
                    </div>
                </div>
            </div>
            <div class="price-product">{{helperNumber.formatPrice(od.product.price)}}</div>
            <div class="quantity-product">
                {{od.quantity}}
            </div>
            <div class="discount-product">
                {{helperNumber.formatDiscount(od.discount)}}
            </div>
            <div class="total-product">{{helperNumber.formatPrice(od.price - (od.price * (od.discount / 100)))}}</div>
        </div>
        <div class="total-price">
            <span>Tổng tiền thanh toán:</span>
            <span class="price">{{helperNumber.formatPrice(totalPrice)}}</span>
        </div>
    </div>
</div>
