
<bread-crumb></bread-crumb>
<div class="wrapper">
    <div class="container">
        <div class="title">
            <div class="login" (click)="goToLogin()">Đăng nhập</div>
            <div class="register">Đăng kí</div>
        </div>
        <form [formGroup]="registerForm" class="main" (ngSubmit)="register()">
            <div class="first-name">
                <div>HỌ <span>*</span></div>
                <input
                    [ngClass]="{'invalid' : getForm.firstName.invalid && getForm.firstName.touched}"
                    formControlName="firstName" type="text"
                    placeholder="Nhập mật khẩu">
                <span
                    *ngIf="registerForm.get('firstName')?.hasError('required') && registerForm.get('firstName')?.touched"
                    class="text-red-600 text-[14px]">Please fill in blank</span>
            </div>
            <div class="last-name">
                <div>TÊN <span>*</span></div>
                <input
                    [ngClass]="{'invalid' : getForm.lastName.invalid && getForm.lastName.touched}"
                    formControlName="lastName" type="text"
                    placeholder="Nhập mật khẩu">
                <span
                    *ngIf="registerForm.get('lastName')?.hasError('required') && registerForm.get('lastName')?.touched"
                    class="text-red-600 text-[14px]">Please fill in blank</span>
            </div>
            <div class="phone-number">
                <div>SỐ ĐIỆN THOẠI <span>*</span></div>
                <input
                    [ngClass]="{'invalid' : getForm.phoneNumber.invalid && getForm.phoneNumber.touched}"
                    formControlName="phoneNumber" type="text"
                    placeholder="Nhập mật khẩu">
                <span
                    *ngIf="registerForm.get('phoneNumber')?.hasError('required') && registerForm.get('phoneNumber')?.touched"
                    class="text-red-600 text-[14px]">Please fill in blank</span>
                <span
                    *ngIf="(registerForm.get('phoneNumber')?.hasError('invalidStart') || registerForm.get('phoneNumber')?.hasError('invalidLength')) && registerForm.get('phoneNumber')?.touched"
                    class="text-red-600 text-[14px]">Phone number must to start
                    with 0 and have 10 number</span>
            </div>
            <div class="email">
                <div>EMAIL <span>*</span></div>
                <input
                    [ngClass]="{'invalid' : (getForm.email.invalid && getForm.email.touched) || !isEmailNotExist}"
                    formControlName="email" type="text"
                    placeholder="Nhập mật khẩu"
                    (blur)="checkEmailExist($event.target)">
                <span
                    *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched"
                    class="text-red-600 text-[14px]">Please fill in blank</span>
                <span
                    *ngIf="registerForm.get('email')?.hasError('email')  && registerForm.get('email')?.touched"
                    class="text-red-600 text-[14px]">Please include '@' in email
                    address</span>
                <span *ngIf="!isEmailNotExist"
                    class="text-red-600 text-[14px]">Email is exist in
                    system</span>
            </div>
            <div class="password">
                <div>MẬT KHẨU <span>*</span></div>
                <input
                    [ngClass]="{'invalid' : getForm.password.invalid && getForm.password.touched}"
                    formControlName="password" type="password"
                    placeholder="Nhập mật khẩu">
                <span
                    *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched"
                    class="text-red-600 text-[14px]">Please fill in blank</span>
            </div>
            <button type="submit" class="btn-login">TẠO TÀI KHOẢN</button>
        </form>
        <div class="social-login">
            <div class="other-method">
                <span>hoặc đăng nhập qua</span>
            </div>
            <div class="social">
                <div class="login-fb">
                    <img
                        src="//bizweb.dktcdn.net/assets/admin/images/login/fb-btn.svg"
                        alt>
                </div>
                <div class="login-gg" class="relative">
                    <a
                        style="background: url(//bizweb.dktcdn.net/assets/admin/images/login/gp-btn.svg)"
                        class="w-full h-full absolute"
                        href="https://accounts.google.com/o/oauth2/v2/auth?client_id=356858350916-9eeqtpqmjncsp5mmco6o2dga67018u3n.apps.googleusercontent.com&scope=email%20profile%20openid&redirect_uri=http://localhost:4200/login-google&response_type=code
                    "></a>
                </div>
            </div>
        </div>
    </div>
</div>
