.wrapper {
    height: 100vh;
    display: flex;
    .nav-right {
        height: 100%;
        width: 20%;
        background-color: brown;
        .logo-store {
            cursor: pointer;
            width: 100%;
            padding: 0 10px;
            display: flex;
            justify-content: center;
            img {
              height: 85.5%;
              background-color: white;
            }
        }
    }
}