<div class="wrapper">
    <div class="nav-right">
        <div class="logo-store">
            <img src="https://bizweb.dktcdn.net/100/450/808/themes/855625/assets/logo.png?1681832246171" alt="">
        </div>
        <div class="info">
            <div class="avatar">    
                <img src="https://i.pinimg.com/564x/b0/9d/d6/b09dd6fbaeefa6d911e6b289741c8cd0.jpg" alt="">
            </div>
            <div class="detail">
                <div class="name">Ho Trong Hieu</div>
                <div class="role">Admin</div>
            </div>
        </div>
        <div class="navigation" (click)="goToDashboard()">
            Dashboard
        </div>
        <div class="navigation" (click)="goToProduct()">
            Product
        </div>
        <div class="navigation">
            Order
        </div>
    </div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>