<div class="wrapper">
    <div class="container">
        <div class="customer-payment">
            <div class="logo" (click)="backToHome()">
                <img src="https://bizweb.dktcdn.net/100/450/808/themes/855625/assets/logo.png?1681832246171" alt="">
            </div>
            <div class="main-content">
                <div class="info-customer">
                    <form class="form">
                        <div class="title">
                            <span>Thông tin mua hàng</span>
                            <div class="login" *ngIf="!isLoggedIn">
                                <fa-icon [icon]="faCircleUser"></fa-icon>
                                <span>Đăng nhập</span>
                            </div>
                        </div>
                        <label for="">Email</label>
                        <input class="email" type="text" [ngClass]="{'invalid': getForm.email.errors && getForm.email.touched}">
                        <label for="">Họ và tên</label>
                        <input class="fullname" type="text">
                        <label for="">Số điện thoại</label>
                        <input class="phone-number" type="number">
                        <label for="">Địa chỉ</label>
                        <input class="address" type="text">
                        <label for="">Thành phố/Tỉnh</label>
                        <select class="province" type="text" (change)="getDistrict($event.target)">
                            <option selected hidden></option>
                            <option *ngFor="let item of listProvince" value="{{item.code}}">{{item.name}}</option>
                        </select>
                        <label for="">Quận/Huyện</label>
                        <select class="district" type="text" (change)="getWard($event.target)">
                            <option selected hidden></option>
                            <option *ngFor="let item of listDistrict" (click)="getWard(item.code)" value="{{item.code}}">{{item.name}}</option>
                        </select>
                        <label for="">Phường/Xã</label>
                        <select class="wards" type="text">
                            <option selected hidden></option>
                            <option *ngFor="let item of listWard" value="{{item.code}}">{{item.name}}</option>
                        </select>
                        <label for="">Ghi chú cho shop nà <fa-icon class="text-red-600" [icon]="faHeart"></fa-icon></label>
                        <div class="note">
                            <textarea name="note" id="" cols="30" rows="2"></textarea>
                        </div>
                    </form>

                    <!-- <div class="other-receiver">
                        <input type="checkbox" class="mr-2">
                        <label for="">Giao hàng đến địa chỉ khác</label>
                    </div> -->
                    <!-- <form class="form">
                        <label for="">email</label>
                        <input class="email" type="text">
                        <label for="">fullname</label>
                        <input class="fullname" type="text">
                        <label for="">phone-number</label>
                        <input class="phone-number" type="text">
                        <label for="">address</label>
                        <input class="address" type="text">
                        <label for="">province</label>
                        <input class="province" type="text">
                        <label for="">district</label>
                        <input class="district" type="text">
                        <label for="">wards</label>
                        <input class="wards" type="text">
                    </form> -->

                </div>
                <div class="delivery-payment">
                    <div class="delivery">
                        <div class="title">Vận chuyển</div>
                        <div class="price-delivery">
                            <input type="radio">
                            <label>Giao hàng tận nơi</label>
                            <span>20000d</span>
                        </div>
                    </div>
                    <div class="payment">
                        <div class="title">Thanh toán</div>
                        <div class="cod">
                            COD
                        </div>
                        <div class="qr-code">
                            QR CODE
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-order">
            <div class="title">Đơn hàng ({{totalProduct}} sản phẩm)</div>
            <div class="container-product">
                <div class="product" *ngFor="let item of cartUser">
                    <div class="image-product">
                        <img src="{{item.image}}" alt="">
                        <div class="quantity">{{item.quantity}}</div>
                    </div>
                    <div class="name-variant">
                        <div class="name">{{item.name}}</div>
                        <span class="variant">{{item.variant}}</span>
                    </div>
                    <div class="price">{{helperNumber.formatPrice(item.price)}}</div>
                </div>
            </div>
            <div class="discount-code">
                <input type="text">
                <div class="apply">Áp dụng</div>
            </div>
            <div class="draft-total">
                <div>
                    <span>
                        Tạm tính
                    </span>
                    <span>
                        {{helperNumber.formatPrice(totalPrice)}}
                    </span>
                </div>
                <div>
                    <span>
                        Phí vận chuyển
                    </span>
                    <span>
                        Miễn phí
                    </span>
                </div>
            </div>
            <div class="total">
                <div class="total-price">
                    <span class="text-[17px] text-[#717171]">Tổng cộng</span>
                    <span class="text-[21px]">{{helperNumber.formatPrice(totalPrice)}}</span>
                </div>
                <div class="back-to-cart">
                    <div class="back" (click)="backToCart()">
                        <fa-icon class="icon" [icon]="faCaretLeft"></fa-icon>
                        Quay về giỏ hàng
                    </div>
                    <div class="done">
                        Đặt hàng
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
