<div class="wrapper">
    <div class="container">
        <div class="customer-payment">
            <div class="logo" (click)="backToHome()">
                <img src="https://bizweb.dktcdn.net/100/450/808/themes/855625/assets/logo.png?1681832246171" alt="">
            </div>
            <div class="main-content">
                <div class="info-customer">
                    <form class="form" [formGroup]="orderForm">
                        <div class="title">
                            <span>Thông tin mua hàng</span>
                            <div class="login" *ngIf="!isLoggedIn">
                                <fa-icon [icon]="faCircleUser"></fa-icon>
                                <span>Đăng nhập</span>
                            </div>
                        </div>
                        <label for="">Email <span class="text-red-600">*</span></label>
                        <span *ngIf="orderForm.get('email')?.hasError('required') && orderForm.get('email')?.touched" class="text-red-600 text-[14px]">Please fill in blank</span>
                        <span *ngIf="orderForm.get('email')?.hasError('email')  && orderForm.get('email')?.touched" class="text-red-600 text-[14px]">Please include '@' in email address</span>
                        <input class="email" type="text" formControlName="email" [ngClass]="{'invalid': getForm.email.errors && getForm.email.touched}">

                        <label for="">Họ và tên <span class="text-red-600">*</span></label>
                        <input class="fullname" formControlName="fullName" type="text" [ngClass]="{'invalid': getForm.fullName.errors && getForm.fullName.touched}">

                        <label for="">Số điện thoại <span class="text-red-600">*</span></label>
                        <input class="phone-number" formControlName="phoneNumber" type="text" [ngClass]="{'invalid': getForm.phoneNumber.errors && getForm.phoneNumber.touched}">

                        <label for="">Địa chỉ</label>
                        <input class="address" formControlName="address" type="text">

                        <label for="">Thành phố/Tỉnh <span class="text-red-600">*</span></label>
                        <select class="province" formControlName="province" type="text" (change)="getDistrict($event.target)">
                            <option selected hidden></option>
                            <option *ngFor="let item of listProvince" value="{{item.code}}">{{item.name}}</option>
                        </select>

                        <label for="">Quận/Huyện <span class="text-red-600">*</span></label>
                        <select class="district" formControlName="district" type="text" (change)="getWard($event.target)">
                            <option selected hidden></option>
                            <option *ngFor="let item of listDistrict" (click)="getWard(item.code)" value="{{item.code}}">{{item.name}}</option>
                        </select>

                        <label for="">Phường/Xã <span class="text-red-600">*</span></label>
                        <select class="ward" formControlName="ward" type="text" (change)="setWard($event.target)">
                            <option selected hidden></option>
                            <option *ngFor="let item of listWard" value="{{item.code}}">{{item.name}}</option>
                        </select>

                        <label for="">Ghi chú cho shop nà <fa-icon class="text-red-600" [icon]="faHeart"></fa-icon></label>
                        <div class="note">
                            <textarea name="note" id="" cols="30" rows="2" maxlength="250" placeholder="250 kí tự"></textarea>
                        </div>
                    </form>
                </div>
                <div class="delivery-payment">
                    <div class="delivery">
                        <div class="title">Vận chuyển</div>
                        <div class="price-delivery">
                            <div class="h-5 w-5 rounded-[50%] mx-4 bg-[#c83252] border border-gray-400" [ngClass]="{'selected' : isChooseQR}">
                                
                            </div>
                            <label>Giao hàng tận nơi</label>
                            <span>20000d</span>
                        </div>
                    </div>
                    <div class="payment">
                        <div class="title">Thanh toán</div>
                        <div class="cod" (click)="chooseCOD()">
                            <div class="mx-4 h-5 w-5 rounded-[50%] bg-white border border-gray-400" [ngClass]="{'selected' : isChooseCOD}" >
                                
                            </div>
                            <label>Thanh toán khi giao hàng (COD)</label>
                            <fa-icon [icon]="faMoneyBill" size="xl"></fa-icon>
                        </div>
                        <div class="description-COD" *ngIf="isChooseCOD">
                            Bạn chỉ phải thanh toán khi nhận được hàng
                        </div>
                        <div class="qr-code" (click)="chooseQR()">
                            <div class="mx-4 h-5 w-5 rounded-[50%] bg-white border border-gray-400" [ngClass]="{'selected' : isChooseQR}">
                                
                            </div>
                            <label>Chuyển khoản qua ngân hàng </label>
                            <fa-icon [icon]="faMoneyBill" size="xl"></fa-icon>
                        </div>
                        <div class="description-QR" *ngIf="isChooseQR">
                            <img src="../../../../assets/image/QR_code_for_mobile_English_Wikipedia.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-order">
            <div class="title">Đơn hàng ({{totalProduct}} sản phẩm)</div>
            <div class="container-product">
                <div class="product" *ngFor="let item of cartUser">
                    <div class="image-product">
                        <img src="{{item.image}}" alt="">
                        <div class="quantity">{{item.quantity}}</div>
                    </div>
                    <div class="name-variant">
                        <div class="name">{{item.name}}</div>
                        <span class="variant">{{item.variant}}</span>
                    </div>
                    <div class="price">{{helperNumber.formatPrice(item.price)}}</div>
                </div>
            </div>
            <div class="discount-code">
                <input type="text">
                <div class="apply">Áp dụng</div>
            </div>
            <div class="draft-total">
                <div>
                    <span>
                        Tạm tính
                    </span>
                    <span>
                        {{helperNumber.formatPrice(totalPrice)}}
                    </span>
                </div>
                <div>
                    <span>
                        Phí vận chuyển
                    </span>
                    <span>
                        Miễn phí
                    </span>
                </div>
            </div>
            <div class="total">
                <div class="total-price">
                    <span class="text-[17px] text-[#717171]">Tổng cộng</span>
                    <span class="text-[21px]">{{helperNumber.formatPrice(totalPrice)}}</span>
                </div>
                <div class="back-to-cart">
                    <div class="back" (click)="backToCart()">
                        <fa-icon class="icon" [icon]="faCaretLeft"></fa-icon>
                        Quay về giỏ hàng
                    </div>
                    <button class="done" (click)="submitForm()" [ngClass]="{'disabled' : orderForm.invalid}" [disabled]="orderForm.invalid">
                        Đặt hàng
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
