.banner-slideshow-image {
  width: 100%;
  height: 570px;
  background-color: aquamarine;
  .slide-image {
    display: none;
  }
  .slide-block {
    width: 100%;
    height: 100%;
    display: block !important;
  }
  .dots-slide {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 10px;
    display: flex;
    justify-content: space-around;
    .dot {
      cursor: pointer;
      display: inline-block;
      width: 8px; /* You can adjust the size of the circle */
      height: 8px; /* Make sure width and height are the same for a perfect circle */
      background-color: var( --primary-gray); /* Change the background color as desired */
      border-radius: 50%; /* This creates a circle by setting border-radius to 50% */
      text-align: center;
      font-weight: bold; /* Set font weight */
    }
    .dot-active {
      background-color: var(--primary-pink) !important;
    }
    .dot:hover {
      background-color: var(--primary-pink);
    }
  }
}
.banner-collection {
  width: 100%;
  height: 160px;
  background-color: var(--primary-pink);
  // padding-bottom: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    width: 75%;
    height: 100px;
    display: flex;
    .line {
      width: 2px;
      height: 90%;
      border-radius: 20%;
      background-color: #fff;
    }
    .icon-collection {
      width: calc((100% / 6) - 2px);
      height: 100px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      .image-collection {
        cursor: pointer;
        display: flex;
        justify-content: center;
        width: 55px;
        height: 55px;
        img {
          width: 48px;
          height: 48px;
        }
      }
      .title-collection {
        cursor: pointer;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        text-overflow: ellipsis;
        padding: 0 40px;
      }
    }
    .icon-collection:hover .title-collection {
      font-weight: 800;
      transition: font-weight 0.2s linear;
    }
  }
}
.new-product {
  width: 100%;
  justify-content: center;
  .title-new-product {
    width: 100%;
    height: 7.6%;
    display: flex;
    justify-content: center;
    div {
      width: 79%;
      height: 100%;
      background-color: azure;
      h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: var(--primary-black);
        padding: 0 40px;
        margin: 0;
        margin-bottom: 40px;
        text-align: center;
        text-transform: uppercase;
        .decor-1 {
          margin: 0 40px;
          display: inline-block;
          height: 1px;
          width: 100px;
          background-color: var(--primary-black);
        }
        .decor-2 {
          margin: 0 40px;
          display: inline-block;
          height: 1px;
          width: 100px;
          background-color: var(--primary-black);
        }
      }
    }
  }
  .container-product {
    width: 100%;
    height: 92.4%;
    display: flex;
    justify-content: center;
    .container {
      width: 79%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      .product {
        cursor: pointer;
        width: 25%;
        // height: 5%;
        padding: 0 10px;
        position: relative;
        .buy-product {
          position: absolute;
          top: 10px;
          right: 20px;
          width: 48px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: var(--primary-black);
          svg {
            width: 20px;
            height: 20px;
            color: #fff;
          }
        }
        .buy-product:hover {
          background-color: var(--primary-pink);
        }
        .thumbnail-product {
          height: 278px;
          img {
            margin: auto;
            border-radius: 5px;
          }
          .like-product {
            position: absolute;
            top: 55%;
            right: 25px;
            width: 20px;
            height: 20px;
            svg {
              width: 100%;
              height: 100%;
              fill: var(--primary-black);
            }
          }
          .like-product:hover svg {
            fill: var(--primary-pink);
          }
        }
        .title-product {
          width: 100%;
          padding: 16px 0 0 0;
          margin-bottom: 5px;
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
          overflow: hidden;
        }
        .description-product {
          color: var(--primary-gray);
          font-size: 12px;
          width: 100%;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .price-product {
          font-size: 24px;
          font-weight: 700;
          color: var(--primary-pink);
          word-break: break-word;
          padding: 10px 0 40px 0;
        }
      }
    }
  }
}
.best-seller {
  width: 100%;
  justify-content: center;
  .title-new-product {
    width: 100%;
    height: 7.6%;
    display: flex;
    justify-content: center;
    div {
      width: 79%;
      height: 100%;
      background-color: azure;
      h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: var(--primary-black);
        padding: 0 40px;
        margin: 0;
        margin-bottom: 40px;
        text-align: center;
        text-transform: uppercase;
        .decor-1 {
          margin: 0 40px;
          display: inline-block;
          height: 1px;
          width: 100px;
          background-color: var(--primary-black);
        }
        .decor-2 {
          margin: 0 40px;
          display: inline-block;
          height: 1px;
          width: 100px;
          background-color: var(--primary-black);
        }
      }
    }
  }
  .container-product {
    width: 100%;
    height: 92.4%;
    display: flex;
    justify-content: center;
    .container {
      width: 79%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      .product {
        cursor: pointer;
        width: 25%;
        padding: 0 10px;
        position: relative;
        .buy-product {
          position: absolute;
          top: 10px;
          right: 20px;
          width: 48px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: var(--primary-black);
          svg {
            width: 20px;
            height: 20px;
            color: #fff;
          }
        }
        .buy-product:hover {
          background-color: var(--primary-pink);
        }
        .thumbnail-product {
          height: 278px;
          img {
            margin: auto;
            border-radius: 5px;
          }
          .like-product {
            position: absolute;
            top: 52%;
            right: 25px;
            width: 20px;
            height: 20px;
            svg {
              width: 100%;
              height: 100%;
              fill:var(--primary-black);
            }
          }
          .like-product:hover svg {
            fill: var(--primary-pink);
          }
        }
        .title-product {
          width: 100%;
          padding: 16px 0 0 0;
          margin-bottom: 5px;
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
          overflow: hidden;
        }
        .description-product {
          color: var(--primary-gray);
          font-size: 12px;
          width: 100%;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .price-product {
          font-size: 24px;
          font-weight: 700;
          color: var(--primary-pink);
          word-break: break-word;
          padding: 10px 0 40px 0;
        }
      }
    }
  }
}
