<div class="wrapper">
    <div class="parent">
        <div class="specific-info">
            <div class="name-variant">
                <div class="name">{{currentProduct[0].name}}</div>
                <div class="variant">{{currentProduct[0].variant}}</div>
            </div>
            <div class="container-image">
                <div class="wrapper-image"
                    *ngFor="let image of currentProduct[0].imageProduct">
                    <img class="image" src="{{image.image}}" />
                </div>
            </div>
            <div class="price-quantity">
                <div class="price"><span>Price:
                    </span>{{helperNumber.formatPrice(currentProduct[0].price)}}</div>
                <div class="quantity"><span>Quantity:
                    </span>{{helperNumber.formatNumber(currentProduct[0].quantity)}}</div>
            </div>
        </div>
        <div class="general-info">
            <div><span>Category:
                </span>{{currentProduct[0].category.name}}</div>
            <div><span>Supplier:
                </span>{{currentProduct[0].supplier.name}}</div>
            <div><span>Description:
                </span>{{currentProduct[0].description}}</div>
        </div>
    </div>
    <div class="children" *ngFor="let item of currentProduct[0].children">
        <div class="variant">{{item.variant}}</div>
        <div class="container-image">
            <div class="wrapper-image" *ngFor="let image of item.imageProduct">
                <img class="image" src="{{image.image}}" />
            </div>
        </div>
        <div class="price-quantity">
            <div class="price"><span>Price:
                </span>{{helperNumber.formatPrice(item.price)}}</div>
            <div class="quantity"><span>Quantity:
                </span>{{helperNumber.formatNumber(item.quantity)}}</div>
        </div>
    </div>
</div>
