.wrapper {
    padding: 0 10px;
    h1 {
        font-size: 19px;
        margin: 10px 0 27px 0;
    }
    .note {
        font-size: 14px;
        margin: 0 0 15px 0;
    }
    form {
        width: 100%;
        .row {
            width: 100%;
            margin: 0 0 5px 0;
            .title {
                font-size: 14px;
                font-weight: 600;
                margin: 0 0 5px 0;
                span {
                    color: red;
                }
            }
            input {
                width: 100%;
                height: 45px;
                border: 1px solid #e1e1e1;
                background-color: #fafafa;
                color: var(--primary-black);
                padding:  0 15px;
                font-size: 14px;
                outline: none;
            }
        }
        button {
            // width: 25%;
            background-color: #000;
            color: #fff;
            font-size: 14px;
            padding: 15px 28px;
            margin: 10px 0 0 0;
        }
        button:hover {
            background-color: var(--primary-pink);
        }
    }
}