<div class="wrapper">
    <h1>ĐỔI MẬT KHẨU</h1>
    <div class="note">Để đảm bảo tính bảo mật vui lòng đặt mật khẩu với ít nhất 8 kí tự</div>
    <form [formGroup]="changePassForm" (ngSubmit)="changePassword()">
        <div class="row">
            <div class="title">MẬT KHẨU CŨ <span>*</span></div>
            <input (focus)="isTruePassword = true" [ngClass]="{'invalid': getForm.password.invalid && getForm.password.touched}" formControlName="password" type="password" placeholder="Mật khẩu cũ">
            <span *ngIf="changePassForm.get('password')?.hasError('required') && changePassForm.get('password')?.touched" class="text-red-600 text-[14px]">Please fill in blank</span>
            <span *ngIf="!isTruePassword" class="text-red-600 text-[14px]">Incorrect password</span>
        </div>
        <div class="row">
            <div class="title">MẬT KHẨU MỚI <span>*</span></div>
            <input [ngClass]="{'invalid': getForm.newPassword.invalid && getForm.newPassword.touched}" formControlName="newPassword" type="password" placeholder="Mật khẩu mới">
            <span *ngIf="changePassForm.get('newPassword')?.hasError('required') && changePassForm.get('newPassword')?.touched" class="text-red-600 text-[14px]">Please fill in blank</span>
        </div>
        <div class="row">
            <div class="title">XÁC NHẬN LẠI MẬT KHẨU <span>*</span></div>
            <input [ngClass]="{'invalid': getForm.confirmedPassword.invalid && getForm.confirmedPassword.touched}" formControlName="confirmedPassword" type="password" placeholder="Xác nhận lại mật khẩu">
            <span *ngIf="changePassForm.get('confirmedPassword')?.hasError('required') && changePassForm.get('confirmedPassword')?.touched" class="text-red-600 text-[14px]">Please fill in blank</span>
            <span *ngIf="changePassForm.hasError('passwordMismatch') && changePassForm.get('confirmedPassword')?.touched" class="text-red-600 text-[14px]">Mismatch with new password</span>
        </div>
        <button type="submit">ĐẶT LẠI MẬT KHẨU</button>
    </form>
</div>