<div class="wrapper">
    <h1>ĐỔI MẬT KHẨU</h1>
    <div class="note">Để đảm bảo tính bảo mật vui lòng đặt mật khẩu với ít nhất 8 kí tự</div>
    <form action="">
        <div class="row">
            <div class="title">MẬT KHẨU CŨ <span>*</span></div>
            <input type="password" placeholder="Mật khẩu cũ">
        </div>
        <div class="row">
            <div class="title">MẬT KHẨU MỚI <span>*</span></div>
            <input type="password" placeholder="Mật khẩu mới">
        </div>
        <div class="row">
            <div class="title">XÁC NHẬN LẠI MẬT KHẨU <span>*</span></div>
            <input type="password" placeholder="Xác nhận lại mật khẩu">
        </div>
        <button type="submit">ĐẶT LẠI MẬT KHẨU</button>
    </form>
</div>